﻿<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="~/DLogo.png" type="image/png" sizes="16x16">
    <title>Project Apolus - API</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div class="swaggerReference">
        <h1>Project <span>Apolus</span></h1>
        <p>For more information about API visit Swagger.</p>
        <a href="/swagger">
            <span>Swagger</span>
        </a>
        <h2>Created <span>by</span> Dominik <span>Chlouba</span></h2>
    </div>
</body>
</html>