﻿@import url('https://fonts.googleapis.com/css?family=Philosopher:700&display=swap');

body {
    font-family: 'Philosopher', sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
}

h1 {
    color: #FFB200;
    font-size: 400%;
    text-align: center;
}

h2 {
    color: #FFB200;
    font-size: 100%;
    text-align: center;
    margin-top: 50px;
}

    h1 span, h2 span {
        color: #263238;
    }

.swaggerReference {
    position: absolute;
    width: 500px;
    height: 375px;
    top: calc(50% - 182.5px);
    left: calc(50% - 250px);
}

p {
    color: #263238;
    font-size: 150%;
    margin-bottom: 50px;
}

a {
    color: white;
    background: #FFB200;
    text-decoration: none;
    border-radius: 4px;
    padding: 10px 65px;
    font-size: 150%;
    position: relative;
}

    a::before {
        content: "";
        width: 0;
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        border-radius: 4px;
        background: #FF6F00;
        transition: all .3s;
    }

    a:hover::before {
        width: 100%;
        left: 0;
    }

    a span {
        position: relative;
        z-index: 2;
    }

@media screen and (max-width: 700px) {
    .swaggerReference {
        position: absolute;
        width: 375px;
        left: calc(50% - 182.5px);
    }
    img {
        position: relative;
        top: auto;
        left: auto;
        height: auto;
        width: 80%;
        margin: 50px auto;
    }

    h1 {
        position: relative;
        bottom: auto;
        left: auto;
        margin: 0 auto;
        font-size: 250%;
    }

    h2 {
        position: relative;
        bottom: auto;
        left: auto;
        margin: 50px auto 0 auto;
        font-size: 150%;
    }
}

@media screen and (max-height: 400px) {
    img {
        position: relative;
        top: auto;
        left: auto;
        height: auto;
        width: 80%;
        margin: 50px auto;
    }

    h1 {
        position: relative;
        bottom: auto;
        left: auto;
        margin: 0 auto;
        font-size: 250%;
    }

    h2 {
        position: relative;
        bottom: auto;
        left: auto;
        margin: 0 auto;
        font-size: 150%;
    }
}
